.container{
    
    display:flex;
    justify-content:space-between;
    align-items: center;
    
    
    
    
}


.card{
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap:1px;
}

.card-img{
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap: 1px;
    
    
    

}
